h1{
    background-color: pink;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.flashcard-hidden {
    width: 600px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    background-color: #ffff80;
}
p{
    text-align: center;
    font-size: large;
    line-height: 200px;
    cursor: pointer;
}
.flashcard-show{
    display: none; 
    width: 600px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    background-color: #ffe6e6;
}